.masterContainer {
	font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
	background-repeat: no-repeat;
	height: 100%;
	color: darkslategrey;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}