body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    background-color: #008080;
    /* font-weight: 300;
    line-height: 1.5;
    color: #777;
    background: #f9f9f9;
    position: relative; */
}

/* header {
    display: block;
    width: 100%;
    padding: 1.75em 0;
    border-bottom: 1px solid #eee;
    background: #fff;
  } */