.eventForm {
	color: slategray;
	display: flex;
	flex-direction: column;
}

.createPage{
	padding: 1em 0em 0em 20em;
}

.eventInvitation {
  color:#008080;
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
}

.createContainer {
  display: flex;
  flex-wrap: wrap; 
  margin: 1.5em;
}

.detailsContainer {
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

.inputFormContainer {
padding: 1em;
	max-width: 40%; 
	flex: 1;
}

.hoursContainer {
  width: 100%;
}

input[type=text] {
  padding: 1em;
  margin: 1em;
  border: 2px solid slategray;
  border-radius: 15px;
	box-sizing: border-box;
	font-size: 100%;
}

.submitButton {
  text-transform: uppercase;
  font-weight: 400;
  background-color: slategray;
  text-align: center;
  border: 2px solid #008080;
  font-size: 16px; 
  color: white;
  padding: 12px 24px;
  border-radius: 10px;
  margin: 1em;
}
