.date{
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dayContainer {
  width: 4em;
  height: 4em;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.set0{
  display: flex;
  justify-content: center;
  align-items: center;
}

.set1{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #30cfd0;
  border-radius: 100%;
  padding: 0.5em;
}

.set2{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #009efd;
  padding: 0.5em;
  border-radius: 100%;
}

.set3{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #96fbc4;
  padding: 0.5em;
  border-radius: 100%;
}

.prevMonth {
  font-size: 120%;
  font-weight: 400;
  text-align: center;
  color: white;
  cursor: pointer;

}

.currMonth {
  font-size: 120%;
  font-weight: 600;
  text-align: center;
  color: white;
  cursor: pointer;
}

.nextMonth {
  font-size: 120%;
  font-weight: 400;
  text-align: center;
  color: white;
  cursor: pointer;
}

.past{
  color: #ddd;
  font-weight: 400;
}
