.container {
	display: flex;
	flex-direction: column;
	color: black;
	border-color: #c5ec77b8;
	border-width: 2px;
	padding: 1em;
	margin: 1em 0em;
	border-radius: 1em;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	cursor: pointer;
	font-size: 25px;
}

.title:hover {
	font-weight: 400;
}

.duration {
	font-size: 80%;
	font-style: italic;
}

.description {
	font-size: 80%;
}

.copyButton {
	cursor: pointer;
	width: 1.5em;
	height: 1.5em;
	padding: 0.3em;
}

.copyMessage {
	display: none;
	font-size: 50%;
}

.copyButton:hover+.copyMessage {
	position: absolute;
	display: block;
	z-index: 1000;
}