.container {
	background : #fff;
	border-radius: 1em;
	padding: 1em 3em;
	margin: 3em;
}

.title{
	padding: 1em;
	font-weight: 500;
	font-size: 150%;
	text-align: center;
}

.timeSlotsContainer{
	display: flex;
	justify-content: flex-start;
}

.unavailableContainer{
	display: flex;
	justify-content: center;
	padding: 1em 0em;
}

.unavailableMessage{
	display: flex;
	padding: 0em 1em;
}

.submit{
	text-transform: uppercase;
		font-weight: 400;
		font-size: 80%;
    background-color: #27ae54;
    text-align: center;
    color: white;
    padding: 0.5em  1em;
    border-radius: 0.5em;
		margin: 2em 1em 0.5em 1em;
		cursor: pointer;
}

.submitContainer{
	display: flex;
	justify-content: center;
}