.container{
	display: flex;
justify-content: center;
	align-items: flex-end;
	height: 50vh;
}

.inner{
	display: flex;
	flex-direction: column;
justify-content: center;
align-items: center;

}
.directions{
	padding: 2em;
	text-align: center;
}

.loginCenter{
	display: flex;
	justify-content: center;
}

.button {
		padding-top: 5em;
		background-color: transparent;
		cursor: pointer;
}

.google{
	font-size: 200%;
}

.schedulIt {
  color: #27ae54;
  font-size: 400%;
	font-weight: 700;
	height: 100%;
	display: flex;
	align-items: center;
}
