.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.myEvents {
  white-space: nowrap;
  padding-right: 50px;
}
