.unselectable {
	width: 4em;
  height: 1em;
  background-color: #ddd;
}
.selectable {
	background: #a1c4fdc1;
  width: 4em;
  height: 1em;
}

.selected {
	width: 4em;
	height: 1em;
	background-color: #4facfe;
}