.container{
	display: flex;
}

.lineContainer{
	display: flex;
	align-items: center;
	width: 0em;
	overflow: visible;
}

.label{
	font-size: 70%;
	padding: 0em 0.5em;
}

.labelContainer{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 1em;
	width: 4em;
	font-size: 100%;
}

.line{
	height: 1px;
	border-style: dashed;
	border-bottom-width: 1px;
	z-index: 1000;
	position: absolute;
}