@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);



.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%; 
}

.colCenter {
  justify-content: center;
  text-align: center;
}

.colStart {
  justify-content: flex-start;
  text-align: left;
}

.colEnd {
  justify-content: flex-end;
  text-align: right;
}

.calendarContainer {
  background-color: #008080;
	border-radius: 25px;
	flex: 1;
}

.calendar .monthHeader .icon:hover {
  transform: scale(2.00);
  transition: .25s ease-out;
  cursor: pointer;
  transition: .15s ease-out;
}

.monthHeader {
  color: white;
  font-size: 150%; 
  font-weight: 600;
  text-transform: uppercase;
  padding: 1.5em 0;
  border-bottom: 1px solid lightgray;
}

.calendar .monthHeader .icon:first-of-type {
  margin-left: 1em;
}

.calendar .monthHeader .icon:last-of-type {
  margin-right: 1em;
}

.icon:hover {
  transform: scale(2.00);
  transition: .25s ease-out;
  cursor: pointer;
  transition: .15s ease-out;
}